@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.card__heading {
  font-size: 1.8em;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
.card__description {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.card__description--cart {
  font-size: 0.7em;
  letter-spacing: 1px;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
}

main {
  z-index: 500;
  background-color: #ffffff;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin: 40px 0px;
}

.product-box {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-box img {
  width: 90%;
  height: 180px;
  object-fit: contain;
  object-position: center;
  margin: auto;
}
.product-box strong {
  color: #202020;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}
.product-box .quantity {
  color: #949494;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.product-box .price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #393939;
}
.product-box .cart-btn {
  width: 100%;
  height: 40px;
  background-color: #ecf7ee;
  color: #4eb060;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: all ease 0.3s;
}
.product-box .cart-btn i {
  margin-right: 10px;
}
.product-box .cart-btn :hover {
  background-color: #4eb060;
  color: #ffffff;
  transition: all ease 0.3s;
}
.product-box .like-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #c9c9c9;
  font-size: 1.3rem;
}

/* .card {


    &:hover,
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, .05), 0 3px 3px rgba(0, 0, 0, .01);
    }

    &__image {
        background-size: cover;
        height: 300px;
        //-webkit-clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
        //clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
        background-position: center;
        //transition: all .2s;
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        padding-top:1em;
        height: 40%;
        width: 100%;
        z-index: -1;
        transition: all .2s;
        border-radius: 10px;
    }

    &__heading{
        text-align: center;
        padding-bottom: 20px;
        font-size: 1.5em;

            &:hover{
                color:rgba(0, 70, 123, 0.763)b;;
                transition: 0.3s;
            }
    }

    &__description{
        padding-top: 1em;
        text-align: center;
        margin-bottom: 0px;

            &--price{
                color: grey;
            }

            &--cart{
                border: none;
                outline: 0;
                padding: 12px;
                color: rgb(255, 255, 255);
                background-color: #00467bba;
                text-align: center;
                cursor: pointer;
                width: 100%;
                margin-top: 39px;

                    &:hover{
                        background-color: #00457b;
                        transition: 0.5s;
                    }
            }
    }


    @media (min-width: 1024px) {
        & {
            min-width: 230px;
        }
    }

    @media (min-width: 1280px) {
        & {
            min-width: 240px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 100%;
            height: 200px;
        }
        &__article {
            display: flex;
        }
        &__image {
            width: 45%;
        }
        &__content {
            padding-left: 45%;
            height: 180px;
            padding-top: 0px;
        }

        &__description{

                &--cart{
                    margin-top: 34px;
                }
        }
    }
}
 */
/*.form__alta{
    background-color: #00000010;
    width: 500px;
    margin: 50px auto 35px;
    padding: 50px 30px;
    border-radius: 5px;
    border: 2px #00457b solid;

        &--title{
            text-align: center;
            font-size: 2.2em;
            font-weight: 500;
            position: relative;
            margin-bottom: 15px;
        }

        &__product{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5em;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                &--container{
                    width: 100%;
                    margin-bottom: 15px;

                        label{
                            color: gray;
                            margin-top:15px;
                            margin-bottom: 10px;
                            margin-left: 50px;
                            display: block;
                            font-weight: lighter;
                            margin-bottom: 5px;
                            font-size: 1.15em;
                            text-align: left;
                            text-transform: uppercase;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        }

                        input{
                            height: 40px;
                            width: 80%;
                            outline: none;
                            border-radius: 5px;
                            padding-left: 15px;
                            border: 1px solid #ccc;
                            font-size: 0.89em;

                                &:focus{
                                    border-color: #00457b;
                                }
                        }

                        #detalles-producto{
                            max-width: 750px;
                            width: 100%;
                            height: 140px;
                            margin: 0px auto;
                            font-family: "Crimson Text", serif;
                            padding-left: 1em;
                            padding-top: 5px;
                        }

                        select{
                            height: 50px;
                            width: 80%;
                            outline: none;

                                &:focus{
                                    border-color: #00457b;
                                    border: 1px solid #ccc;
                                }
                        }

                        &--garantia{
                            width: 60%;

                                legend{
                                    display: block;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                    font-size: 0.79em;
                                    text-align: center;
                                }

                                &--box{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    min-width: 30px;

                                }

                                label{
                                    font-size: 0.9em;
                                }

                                /*input{

                                }*/
/*}

                        &--envio{
                            margin-top: 15px;
                            margin-bottom: 15px;
                            font-size: 0.95em;
                            padding: 15px;
                        }

                        &--submit{


                                &__alta{
                                    padding: 15px;
                                    margin: 1em;
                                    border-radius: 5px;
                                    background-color: #00457bcf;
                                    color: rgb(255, 255, 255);
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    text-transform: uppercase;

                                    &:hover,
                                    &:focus{
                                        background-color: rgb(234, 234, 234);
                                        color: #00457b;
                                        transition: 0.5s ease;
                                    }
                                }

                                &__reset{
                                    padding: 15px;
                                    margin: 1em;
                                    border-radius: 5px;
                                    background-color: #00467bcf;
                                    color: rgb(255, 255, 255);
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    text-transform: uppercase;

                                        &:hover,
                                        &:focus{
                                            background-color: rgb(234, 234, 234);
                                            color: #00457b;
                                            transition: 0.5s ease;
                                        }
                                }
                        }
                }
        }

        @media (max-width: 768px) {
            &{
                margin-top: 160px;
                width: 100%;

                &__product--container{
                    label{
                        text-align: center;
                        margin: auto auto 15px;
                    }
                }

                &__product--container--garantia--box{
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
}*/
.contact__cards {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 3em;
  align-items: center;
  min-width: 350px;
  height: 400px;
  flex-wrap: wrap;
  background: rgba(203, 203, 203, 0.701);
}
.contact__cards__container--cliente {
  background-color: #fff;
  width: 350px;
  height: 300px;
  padding: 1.5em 1em 1.5em;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}
.contact__cards__container--cliente img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-bottom: 15px;
}
.contact__cards__container--cliente h4 {
  font-size: 0.8em;
  color: #8a8d90;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 10px;
}
.contact__cards__container--cliente a {
  display: block;
  background: transparent;
  font-size: 1.5em;
  text-decoration: none;
}
.contact__cards__container--cliente a:last-child {
  font-size: 1em;
}
.contact__cards__container--oficinas {
  background-color: #fff;
  border-radius: 3px;
  width: 350px;
  height: 300px;
  padding: 1.5em 1em 1.5em;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}
.contact__cards__container--oficinas img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-bottom: 15px;
}
.contact__cards__container--oficinas h4 {
  font-size: 0.8em;
  color: #8a8d90;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 10px;
}
.contact__cards__container--oficinas span {
  font-size: 1.4em;
}
.contact__cards__container--oficinas a:last-child {
  font-size: 1.25em;
  text-decoration: none;
}
@media (max-width: 768px) {
  .contact__cards {
    margin-top: 160px;
    height: 750px;
  }
}

/*************************
FORMULARIO DE CONTACTO
**************************/
.form--contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-bottom: 150px;
}
.form--contact__header {
  text-align: center;
  margin: auto;
  font-size: 2.3em;
  padding-bottom: 2em;
  padding-top: 2em;
  color: #818181;
}
.form--contact__textarea {
  width: 470px;
  max-width: 470px;
  height: 145px;
  max-height: 110px;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #726659;
}
.form--contact__textarea:hover, .form--contact__textarea:focus {
  background-color: rgba(172, 172, 172, 0.215);
}
.form--contact__input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 80px;
  padding: 0px 15px 0px 15px;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.form--contact__input:hover, .form--contact__input:focus {
  background-color: rgba(172, 172, 172, 0.215);
}
.form--contact__input--go {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 80px;
  padding: 0px 15px 0px 15px;
  background-color: #00467bb1;
  outline: none;
  color: #ffffff;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.form--contact__input--go:hover, .form--contact__input--go:focus {
  background-color: #00457b;
}
@media (max-width: 768px) {
  .form--contact {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 521px) {
  .form--contact__input, .form--contact__textarea {
    width: 250px;
    height: 90px;
  }
  .form--contact__input--go {
    width: 250px;
  }
}

.aboutus {
  text-align: center;
  margin-bottom: 40px;
}
.aboutus--logo {
  text-align: center;
  padding: 15px;
}
.aboutus--logo h3 {
  font-size: 2em;
  margin-bottom: 15px;
}
.aboutus--logo p {
  margin: auto;
  overflow: auto;
  font-size: 1.6em;
  border: 0.5px solid #00457b;
  padding: 15px;
}
.aboutus--article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  gap: 2em;
}
.aboutus--article__container {
  width: 250px;
  height: 250px;
  min-width: 235px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  transition: all 0.2s;
}
.aboutus--article__container:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px 5px rgba(50, 50, 50, 0.2);
}
.aboutus--article__container img {
  height: 30px;
  margin-top: 10px;
}
.aboutus--article__container h4 {
  font-size: 1.8em;
}
.aboutus--article__container p {
  padding: 15px;
  font-size: 1.1em;
}
@media (max-width: 768px) {
  .aboutus {
    margin-top: 215px;
    max-width: 100%;
  }
  .aboutus--logo--logo {
    max-width: 70%;
  }
}

.section-carrito {
  display: none;
  position: fixed;
  background-color: #f1f2f3;
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  box-shadow: 0.3em 0.3em 10em 0.3em black;
}
.section-carrito--visible {
  display: block;
}

.carrito__item {
  border: 2px solid red;
}

.alta-main {
  display: flex;
  flex-wrap: wrap;
}
.alta-main .form__alta {
  border: 2px solid red;
  width: 25%;
}
.alta-main .form__alta .container-alta {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.alta-main .form__alta .container-alta h1 {
  color: blue;
}
.alta-main .form__alta .container-alta div, .alta-main .form__alta .container-alta input {
  width: 300px;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
}
.alta-main .form__alta .container-alta button {
  display: block;
  margin-top: 20px;
  width: 120px;
  height: 35px;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 15px;
}
.alta-main .form__alta .container-alta input[type=checkbox] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
.alta-main .form__alta .container-alta div {
  border: 1px solid red;
  background-color: yellow;
  color: darkred;
  margin: 2px 0 10px 0;
  border-radius: 5px;
  display: none;
}
.alta-main .alta-image {
  border: 2px solid red;
  width: 75%;
}
.alta-main .render-productos {
  border: 2px solid red;
  width: 100%;
}
.alta-main .render-productos table, .alta-main .render-productos th, .alta-main .render-productos td {
  border: 1px solid black;
  border-collapse: collapse;
}
.alta-main .render-productos table {
  width: 90%;
}
.alta-main .render-productos #listado-productos {
  width: 100%;
}
.alta-main .render-productos th, .alta-main .render-productos td {
  padding: 5px;
  text-align: center;
}
.alta-main .render-productos table, .alta-main .render-productos th, .alta-main .render-productos td {
  border: 1px solid black;
  border-collapse: collapse;
}
.alta-main .render-productos table {
  width: 90%;
}
.alta-main .render-productos #listado-productos {
  width: 100%;
}
.alta-main .render-productos th, .alta-main .render-productos td {
  padding: 5px;
  text-align: center;
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  opacity: 100;
  transition: opacity 0.3s linear 0.05s;
  z-index: 500;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: transparent;
}

#menu:checked ~ .search-bar .menu-toggle__pan-arriba {
  top: -0.1em;
  transition: 0.8s ease;
  transform: rotate(315deg);
}

#menu:not(:checked) ~ .search-bar .menu-toggle__pan-arriba {
  transition: 1s ease;
}

#menu:checked ~ .search-bar .menu-toggle__medallon {
  display: none;
}

#menu:checked ~ .search-bar .menu-toggle__pan-abajo {
  bottom: -0.1em;
  transition: 0.8s ease;
  transform: rotate(45deg);
}

#menu:not(:checked) ~ .search-bar .menu-toggle__pan-abajo {
  transition: 1s ease;
}

.selected {
  color: #40aa54;
  transition: all ease 0.3s;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 35px 15px;
  max-width: 1070px;
  width: 100%;
  margin: auto;
}
.nav-bar__logo {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}
.nav-bar__logo span {
  color: #40aa54;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
}
.nav-bar__nav-list li a {
  text-decoration: none;
  padding: 3px 10px;
  margin: 0px 15px;
  color: #3b3b3b;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
}
.nav-bar__nav-list a:hover {
  color: #40aa54;
}
.nav-bar__right-nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
}
.nav-bar__right-nav a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.nav-bar__right-nav--like {
  background-color: #fff0ee;
  color: #ff6c57;
}
.nav-bar__right-nav--cart {
  background-color: #ecf7ee;
  color: #4eb060;
}

/*********************************
SEARCH BAR
*********************************/
#search-banner {
  max-width: 750px;
  border-radius: 30px;
  background-color: #ecf7ee;
  margin: 10px auto;
  overflow: hidden;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: bottom right;
  padding: 20px;
}
#search-banner-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 70px;
  position: relative;
}
#search-banner-text h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 55px;
  color: #202020;
}
#search-banner-text strong {
  color: #4eb060;
  font-size: 1.4rem;
  margin-top: 4px;
}

.search-box {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 20px;
  border-radius: 30px;
}
.search-box i {
  font-size: 1.3rem;
  color: #3b3b3b;
  margin: 0px 10px;
}
.search-box .search-input {
  height: 40px;
  border: none;
  width: 100%;
  padding: 0px 10px;
  outline: none;
}
.search-box .search-btn {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  background-color: #4eb060;
  border: none;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  transition: all ease 0.3s;
}
.search-box .search-btn:hover {
  background-color: #5ccf71;
  transition: all ease 0.3s;
}

.bg-1 {
  position: absolute;
  left: -50px;
  top: -150px;
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

.bg-2 {
  position: absolute;
  left: 60%;
  transform: translateX(-60%);
  top: -75px;
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: contain;
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: #262626;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    opacity: 0;
    transition: 0.3s ease;
    background-color: #00457b;
    border-top: 0.1px solid black;
    position: fixed;
    top: 160px;
    width: 100%;
    z-index: -5000;
  }
  .nav-bar__nav-list {
    flex-direction: column;
  }
  .nav-bar__nav-item {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .nav-bar__nav-link {
    color: white;
    font-weight: normal;
  }
  .nav-bar__nav-link::after {
    background: #ffffff;
  }

  .search-bar {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1;
  }
  .search-bar__logo-container {
    position: fixed;
    width: 100%;
    height: 90px;
    text-align: center;
    top: -15px;
    background-color: #00457b;
  }
  .search-bar__form-container {
    padding-right: 0;
    padding-left: 0;
  }
  .search-bar__form-search {
    border-radius: 10px;
  }
  .search-bar__form-submit {
    font-size: 14px;
    margin-left: 30px;
    width: 80px;
    padding: 0;
  }
}
footer {
  background-color: #1b1d1f;
  padding: 50px 20px;
  border-top: 5px solid #4eb060;
}

.footer__content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__content--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__content--logo a {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}
.footer__content--logo span {
  color: #4eb060;
}
.footer__content--social {
  display: flex;
  margin-top: 10px;
}
.footer__content--social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 1px solid #ffffff15;
  font-size: 0.9rem;
  margin: 0px 5px;
  transition: all ease 0.3s;
}
.footer__content--social a:hover {
  background-color: #4eb060;
  transition: all ease 0.3s;
}
.footer__content--links strong {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer__content--links ul {
  margin-top: 10px;
  list-style: none;
}
.footer__content--links ul li a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  margin: 4px 0px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all ease 0.3s;
}
.footer__content--links li a:hover {
  opacity: 1;
  transition: all ease 0.3s;
}

.section-cards {
  background-color: transparent;
  padding: 1em;
  width: 90%;
  margin: auto;
}
.section-cards__header {
  margin-bottom: 20px;
  text-align: center;
}
.section-cards__header h1 {
  font-size: 40px;
}
.section-cards__header p {
  font-style: italic;
  color: grey;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .section-cards {
    margin-top: 145px;
  }
}

.cards-container {
  background-color: rgba(233, 233, 233, 0);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}