.form__alta{
    background-color: #00000010;
    width: 500px;
    margin: 50px auto 35px;
    padding: 50px 30px;
    border-radius: 5px;
    border: 2px #00457b solid;

        &--title{
            text-align: center;
            font-size: 2.2em;
            font-weight: 500;
            position: relative;
            margin-bottom: 15px;
        }

        &__product{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5em;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                &--container{
                    width: 100%;
                    margin-bottom: 15px;

                        label{
                            color: gray;
                            margin-top:15px;
                            margin-bottom: 10px;
                            margin-left: 50px;
                            display: block;
                            font-weight: lighter;
                            margin-bottom: 5px;
                            font-size: 1.15em;
                            text-align: left;
                            text-transform: uppercase;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        }

                        input{
                            height: 40px;
                            width: 80%;
                            outline: none;
                            border-radius: 5px;
                            padding-left: 15px;
                            border: 1px solid #ccc;
                            font-size: 0.89em;

                                &:focus{
                                    border-color: #00457b;
                                }
                        }

                        #detalles-producto{
                            max-width: 750px;
                            width: 100%;
                            height: 140px;
                            margin: 0px auto;
                            font-family: "Crimson Text", serif;
                            padding-left: 1em;
                            padding-top: 5px;
                        }

                        select{
                            height: 50px;
                            width: 80%;
                            outline: none;

                                &:focus{
                                    border-color: #00457b;
                                    border: 1px solid #ccc;
                                }
                        }

                        &--garantia{
                            width: 60%;

                                legend{
                                    display: block;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                    font-size: 0.79em;
                                    text-align: center;
                                }

                                &--box{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    min-width: 30px;

                                }

                                label{
                                    font-size: 0.9em;
                                }

                                /*input{

                                }*/
                        }

                        &--envio{
                            margin-top: 15px;
                            margin-bottom: 15px;
                            font-size: 0.95em;
                            padding: 15px;
                        }

                        &--submit{


                                &__alta{
                                    padding: 15px;
                                    margin: 1em;
                                    border-radius: 5px;
                                    background-color: #00457bcf;
                                    color: rgb(255, 255, 255);
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    text-transform: uppercase;

                                    &:hover,
                                    &:focus{
                                        background-color: rgb(234, 234, 234);
                                        color: #00457b;
                                        transition: 0.5s ease;
                                    }
                                }

                                &__reset{
                                    padding: 15px;
                                    margin: 1em;
                                    border-radius: 5px;
                                    background-color: #00467bcf;
                                    color: rgb(255, 255, 255);
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    text-transform: uppercase;

                                        &:hover,
                                        &:focus{
                                            background-color: rgb(234, 234, 234);
                                            color: #00457b;
                                            transition: 0.5s ease;
                                        }
                                }
                        }
                }
        }

        @media (max-width: 768px) {
            &{
                margin-top: 160px;
                width: 100%;
        
                &__product--container{
                    label{
                        text-align: center;
                        margin: auto auto 15px;
                    }
                }
        
                &__product--container--garantia--box{
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
}
