<div class="footer__content">
    <div class="footer__content--logo">
        <img src="img/logo/logo-b-b-b.png" alt="">
    </div>
    <div class="footer__content--follow-us">
        <section class="social--media">
            <h3>Encontranos en las redes</h3>
            <div class="social--media__button">
                <a class="social--media__button__item facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social--media__button__item twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social--media__button__item linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="social--media__button__item youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="social--media__button__item instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            
        </section>
    </div>
    <div class="footer__content--copyright">
        <p>Copyright® Connecticus Inc LTD - All rights reserved</p>
    </div>
</div>