<input type="checkbox" id="menu">

<nav class="nav-bar">
    <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
            <a class="nav-bar__nav-link" href="" id="inicio">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
            <a class="nav-bar__nav-link" href="" id="alta">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
            <a class="nav-bar__nav-link" href="" id="contacto">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
            <a class="nav-bar__nav-link" href="" id="nosotros">Nosotros</a>
        </li>
    </ul>
</nav>
<div class="search-bar">
    <div class="search-bar__logo-container">
        <a href="index.html"> <img class="search-bar__logo-container--logo" src="img/logo/logo-w.png" alt=""> </a>
    </div>
    <form class="search-bar__form-container">
        <label class="search-bar__form-label" for="busqueda"></label>
        <input class="search-bar__form-search" id="busqueda" type="search">
        <input class="search-bar__form-submit" type="submit" value="Buscar">
    </form>
    <div class="search-bar__carrito-container">
        <a href="#"></a>
    </div>
    <div class="menu-toggle">
        <label class="menu-toggle__label" for="menu">
            <span class="menu-toggle__pan-arriba"></span>
            <span class="menu-toggle__medallon"></span>
            <span class="menu-toggle__pan-abajo"></span>
        </label>
    </div>
</div>